/*Estilo Geral*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FE0000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #FE0000;
}

button:hover {
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.767);
    transform: scale(1.10);
}

/*Cabeçalho*/

.logo {
    width: 10rem;
}

.logo a img {
    width: 100%;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}

header a:hover {
    color: #fff;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/*Estilo do Topo do site*/

section .topo-do-site {
    padding: 40px 4%;
}

section .topo-do-site .flex {
    align-items: center;
    justify-content: space-around;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #FE0000;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.txt-topo-site {
    width: 50vw;
}

.imagem-topo-site {
   width: 40vw;
}

.img-topo-site {
    width: 100px;
    height: 100px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 40px;
    width: 300%;
    height: 300%;
    background: #FE0000;
}

@keyframes flutuar {
    0% {
      top: 0;   
    }

    100% {
        top: 30px;
    }
}

/*Especialidades*/

section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #FE0000;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

.img-sobre {
    width: 700px;
    height: 400px;
}

.img-sobre img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #FE0000;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FE0000;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}





